@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import "/style/geral.css";
@import "/style/header.css";
@import "/style/movies.css";
@import "/style/responsive.css";
